---
- name: Gather facts from backend servers
  hosts: backends
  gather_facts: yes

- name: Show Backend Variables
  hosts: frontend
  gather_facts: yes
  tasks:
    - name: Display backend IPs that will be used
      debug:
        msg:
          - "Backend 1 IP: {{ hostvars[groups['backends'][0]]['ansible_default_ipv4']['address'] }}"
          - "Backend 2 IP: {{ hostvars[groups['backends'][1]]['ansible_default_ipv4']['address'] }}"
          - "Backup Backend IP: {{ hostvars[groups['backends'][2]]['ansible_default_ipv4']['address'] }}"

